@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model HerbalDrugstore.Models.PromptAndSuppliersViewModel
@{
    ViewData["Title"] = "Prompts page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="/css/Calculation.css" rel="stylesheet" />
<br />
<!--asp-route="item.SupplierName"-->
<div class="container">
    <div class="row">
        <section class="content">
            <h1>Prompts table</h1>
            <br />
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">

                        @if (Model.Prompts.Count() != 0)
                        {
                            <div class="form">
                                <div class="btn-group">
                                    <h2>Group by common supplier</h2>
                                    <select id="selectBox" class="form-control" data-style="btn-primary" style="margin: 20px 0 0 40px">
                                        <option data-target="all" value="all">All</option>
                                        @foreach (var supplier in Model.SuppliersList)
                                        {
                                            <option data-target=@supplier.CompanyName value="@supplier.CompanyName">
                                                @supplier.CompanyName
                                            </option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <form asp-controller="Home" asp-action="MakeBigOrder">
                                <div class="table-container">
                                    <table class="table table-filter " id="table">
                                        <tbody>
                                            @foreach (var item in Model.Prompts)
                                            {
                                                <tr data-status=@item.SupplierName class="tblRow">
                                                    <td class="cId" style="visibility: hidden; width: 1px">@item.Drug.DrugId</td>
                                                    <td>
                                                        <div class="ckbox">
                                                            <input type="checkbox" name="checkedDrugs" value=@item.Drug.DrugId>
                                                            <label for="checkbox1"></label>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="media">
                                                            <div class="media-body">
                                                                <h4 class="title" style="font-size: 20px;">
                                                                    @item.Drug.Name
                                                                    <span class="pull-right pagado">Supplier: @item.SupplierName</span>
                                                                </h4>
                                                                <p class="summary">
                                                                <p>
                                                                    Drug <strong>"@item.Drug.Name"</strong> left in stock<strong>@item.Days.</strong>
                                                                </p>
                                                                <p>The most recent supplier is<strong> @item.SupplierName company.</strong> </p>
                                                                
                                                                </p>
                                                                @*<button class="btn btn-info"><span style="color: white; text-decoration: none">@Html.ActionLink("Quick order", "AddSupplyStep1", "Home", item.SupplierName)</span></button>*@
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <div class="confirmBtn">
                                        <input type="submit" value="Order" class="btn btn-success" />
                                    </div>
                                </div>
                            </form>
                        }
                        else
                        {
                            <h5>It is all good! You stored with all drugs.</h5>
                        }
                    </div>
                </div>
                <div class="content-footer">

                </div>
            </div>
        </section>
    </div>
</div>
<script>
    $(document).ready(function () {

        $('.star').on('click', function () {
            $(this).toggleClass('star-checked');
        });

        $('.tblRow').on('click', function () {
            if (!$(this).hasClass('selected')) {

                $(this).toggleClass('selected');
                $(':checkbox', this).prop('checked', true);
                //alert($(this).find('td:first').html());
            } else {
                $(this).toggleClass('selected');
                $(':checkbox', this).prop('checked', false);
                //alert($(this).find('td:first').html());
            }

        });

        //var selectBox = document.getElementById("selectBox");
        //var selectedValue = selectBox.options[selectBox.selectedIndex].value;
        //alert(selectedValue);

        $('#selectBox').on('change', function () {
            var selectBox = document.getElementById("selectBox");
            var $target = selectBox.options[selectBox.selectedIndex].value;;
            //alert($target);
            if ($target != 'all') {
                $('.table tr').css('display', 'none');
                $('.table tr[data-status="' + $target + '"]').fadeIn('slow');
            } else {
                $('.table tr').css('display', 'none').fadeIn('slow');
            }
        });

    });

</script>
<style>
    /*.media {
        color: deepskyblue;
    }*/

    h1 {
        color: white;
    }

    h2 {
        padding: 0;
    }

    .panel .btn-group {
        margin: 0 10px 30px 55px;
        width: 100%;
        display: inline-flex;
    }

    .panel {
        margin-left: -50px;
        width: 825px;
        background: rgb(255, 255, 255);
    }

    .form {
        height: 70px;
        text-align: center;
    }

    .btn-success {
        height: 50px;
        font-size: 18px;
        width: 180px;
        margin: 0 0 0 50px;
    }

    .confirmBtn {
        width: 800px;
    }
</style>