@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model HerbalDrugstore.Models.DrugAndHerbViewModel

@{
    ViewData["Title"] = "DetailsDrug";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Drug details</h2>

<div class="panel panel-info">
    <div class="panel-heading"><h4>@Html.DisplayNameFor(model => model.Drug.Name) : @Html.DisplayFor(model => model.Drug.Name)</h4></div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.Drug.Indications)</dt>
            <dd>@Html.DisplayFor(model => model.Drug.Indications)</dd>
            <dt>@Html.DisplayNameFor(model => model.Drug.Instruction)</dt>
            <dd>@Html.DisplayFor(model => model.Drug.Instruction)</dd>
            <dt>@Html.DisplayNameFor(model => model.Drug.Quantity)</dt>
            <dd>@Html.DisplayFor(model => model.Drug.Quantity)</dd>
        </dl>
    </div>

    <div class="panel-heading"><h4>Compound</h4></div>
    <div class="panel-body">
        @if (Model.Compound.Count != 0)
        {

            @foreach (var component in Model.Compound)
                {
                <dl class="dl-horizontal">
                    <dt>Herb</dt>
                    <dd>@component.Herb.Name</dd>
                    <dt>Quantity</dt>
                    <dd>@component.Quantity</dd>
                </dl>
            }
        }
        else
        {
           <p>No herbs in the drug</p>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Edit", "EditDrug", new { id = Model.Drug.DrugId }) |
    <a asp-action="DrugsList">Back to List</a>
</div>
