@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IEnumerable<HerbalDrugstore.Models.Drug>
@{
    ViewData["Title"] = "DrugsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styleSearch.css">

</head>
<div id="cont">
    <div>
        <h2>Drugs List</h2>

    </div>
    <p>
        <a asp-action="AddDrug" class="btn btn-success">Create new</a>
    </p>
    <nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="col-md-12" style="height: 40px; margin-top: 7px;">
            <div class="input-group" id="adv-search">
                <input type="text" class="form-control searchString" placeholder="Search by name" autocomplete="off">
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <form asp-action="FilterDrugs" class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <div>
                                            <label>Sort by</label>
                                        </div>
                                        <select class="form-control" name="value">
                                            <option value="0" selected="">Default</option>
                                            <option value="1">Ascending by name</option>
                                            <option value="2">Descending by name</option>
                                            <option value="3">Ascending by quantity</option>
                                            <option value="4">Descending by quantity</option>
                                        </select>
                                        <input type="submit" name="command" value="Sort" class="btn btn-default" id="btnStyle1">
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <label>Filter by</label>
                                        </div>
                                        <select class="form-control" name="value2">
                                            <option value="0" selected="">Default</option>
                                            <option value="1">Show only available</option>
                                            <option value="2">Show only ran out</option>
                                        </select>
                                        <input type="submit" name="command" value="Filter" class="btn btn-default" id="btnStyle2">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary searchBtn" style="margin-bottom: 27px;"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>

            </div>
        </div>

    </nav>



    @if (ViewBag.NotForundMessage != null)
    {
        <h3 style="color: red;">@ViewBag.NotForundMessage </h3>
        <a asp-action="DrugsList" class="btn btn-danger">Clear</a>
    }


    @if (ViewBag.FoundIds != null)
    {
        <h5>Shown results for " @ViewBag.SearchString "</h5>

        <a asp-action="DrugsList" class="btn btn-info">Clear</a>
    }
    @if (ViewBag.Message != null)
    {
        <h4>@ViewBag.Message</h4>
        <a asp-action="DrugsList" class="btn btn-info">Clear</a><br />
    }

    <table class="table" style="width: 100%;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Indications)
                </th>
                <th>
                    Instruction
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>Consume</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (ViewBag.FoundIds != null)
                {
                    if (ViewBag.FoundIds.Contains(item.DrugId))
                    {
                        <tr style="background-color: lightgreen">
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Indications)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Instruction)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td style="width: 200px">
                                <form asp-action="ConsumeDrug" asp-route-id="@item.DrugId" style="display: inline-flex">
                                    <input type="number" min="0" name="quantity" class="form-control" style="width: 40%" />
                                    <input type="submit" class="btn btn-info" style="width: 25%" value="ok" />
                                </form>
                            </td>
                            <td>
                                <a asp-action="EditDrug" asp-route-id="@item.DrugId">Edit</a> |
                                <a asp-action="DetailsDrug" asp-route-id="@item.DrugId">Details</a> |
                                <a asp-action="DeleteDrug" asp-route-id="@item.DrugId">Delete</a>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Indications)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Instruction)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td style="width: 200px">
                                <form asp-action="ConsumeDrug" asp-route-id="@item.DrugId" style="display: inline-flex">
                                    <input type="number" min="0" name="quantity" class="form-control" style="width: 40%" />
                                    <input type="submit" class="btn btn-info" style="width: 25%" value="ok" />
                                </form>
                            </td>
                            <td>
                                <a asp-action="EditDrug" asp-route-id="@item.DrugId">Edit</a> |
                                <a asp-action="DetailsDrug" asp-route-id="@item.DrugId">Details</a> |
                                <a asp-action="DeleteDrug" asp-route-id="@item.DrugId">Delete</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Indications)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Instruction)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td style="width: 200px">
                            <form asp-action="ConsumeDrug" asp-route-id="@item.DrugId" style="display: inline-flex">
                                <input type="number" min="0" name="quantity" class="form-control" style="width: 40%" />
                                <input type="submit" class="btn btn-info" style="width: 25%" value="ok" />
                            </form>
                        </td>
                        <td>
                            <a asp-action="EditDrug" asp-route-id="@item.DrugId">Edit</a> |
                            <a asp-action="DetailsDrug" asp-route-id="@item.DrugId">Details</a> |
                            <a asp-action="DeleteDrug" asp-route-id="@item.DrugId">Delete</a>
                        </td>
                    </tr>
                }

            }

        </tbody>
    </table>

</div>
<script>
    $(document).ready(function (e) {

        $(".searchBtn").click(function () {
            var searchString = $(".searchString").val();
            if (searchString != null && searchString.length != 0)
                window.location = "http://localhost:26920/Home/SearchDrug/?nameToSearch=" + searchString;
            //else
            //    $("#errorSearch").html("<span style='color:red;margin-left:350px;'>Введите значение для поиска</span>");
        });

    });

</script>
<style>
    .navbar-default .navbar-nav > li > a; {
        color: #ffffff;
    }

    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        color: #555;
        background-color: rgba(155, 201, 255,1);
    }

    a:hover {
        color: black;
    }

    .table-info {
        background: rgba(229, 255, 255, 0.2);
    }

    .navbar-form .input-group > .form-control {
        width: 100%;
        background: rgba(229, 255, 255, 0.7);
    }

    .input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: 34px;
        background: rgba(229, 255, 255, 0.7);
    }

    table {
        margin-top: 20px;
        border: white;
        border: 1px #DDD solid;
    }

    body {
        color: white;
        background: url(https://pp.vk.me/c836327/v836327742/17908/waDikG93KUE.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .row {
        max-height: 40px;
    }
        th {
        text-align: center;
    }
    .form-horizontal {
        max-width: 250px;
    }

    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 360px;
    }


    h2 {
        padding: 20px;
        text-align: center;
    }

    .cont {
        margin: auto;
        width: 970px;
    }

    td, th {
        border: 1px #DDD solid;
        padding: 5px;
        height: 40px;
    }


    .navbar-default {
        background-color: rgba(255, 255,255, 0.2);
        border-color: #e7e7e7;
    }
</style>