@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IEnumerable<Herb>

@{
    ViewData["Title"] = "HerbsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" type="text/css" href="/css/styleSearch.css">

<!--<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript">

        function Print() {
            window.print();
        }
    </script>
</head>-->


<h2>Herbs List</h2>


<div class="row">
    <div class="col-md-12">
        <div class="input-group" id="adv-search">
            <form asp-action="SearchHerb">
                <input type="text" class="form-control" name="nameToSearch" placeholder="Search by name" autocomplete="off">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </form>
            <div class="input-group-btn">
                <div class="btn-group" role="group">
                    <div class="dropdown dropdown-lg">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                            <form asp-action="FilterHerbs" class="form-horizontal" role="form">
                                <div class="form-group">
                                    <div>
                                        <label>Sort by</label>
                                    </div>
                                    <select class="form-control" name="value">
                                        <option value="0" selected="">Default</option>
                                        <option value="1">Ascending by name</option>
                                        <option value="2">Ascending by species</option>
                                        <option value="3">Descending by name</option>
                                        <option value="4">Descending by species</option>
                                    </select>
                                    <input type="submit" name="command" value="Sort" class="btn btn-default">
                                </div>
                                <div class="form-group">
                                    <div>
                                        <label>Filter by</label>
                                    </div>
                                    <select class="form-control" name="value2">
                                        <option value="0" selected="">Default</option>
                                        <option value="1">Show only fully filled</option>
                                        <option value="2">Show only partly filled</option>
                                    </select>
                                    <input type="submit" name="command" value="Filter" class="btn btn-default">
                                </div>
                                <div class="form-group">
                                    <div>
                                        <label for="contain">Search by species</label>
                                    </div>
                                    <input class="form-control" type="text">
                                    <input type="submit" name="command" value="Search" class="btn btn-default">
                                </div>
                                <div class="form-group">
                                    <div>
                                        <label for="contain">Search by description</label>
                                    </div>
                                    <input class="form-control" type="text">
                                    <input type="submit" name="command" value="Search" class="btn btn-default">
                                </div>
                                <button asp-action="SearchHerb" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@if (@ViewBag.NotForundMessage != null)
{
    <h3 style="color: red;">@ViewBag.NotForundMessage </h3>
    <a asp-action="HerbsList" class="btn btn-danger">Clear</a>
}


@if (ViewBag.FoundIds != null)
{
    <h5>Shown results for " @ViewBag.SearchString "</h5>
    
    <a asp-action="HerbsList" class="btn btn-info">Clear</a>
}


<p>
    <a asp-action="AddHerb" class="btn btn-default">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Species)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (ViewBag.FoundIds != null)
            {
                if (ViewBag.FoundIds.Contains(item.HerbId))
                {
                    <tr style="background-color: greenyellow">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Species)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a asp-action="EditHerb" asp-route-id="@item.HerbId">Edit</a> |
                            <a asp-action="DetailsHerb" asp-route-id="@item.HerbId">Details(no)</a> |
                            <a asp-action="DeleteHerb" asp-route-id="@item.HerbId">Delete</a>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Species)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a asp-action="EditHerb" asp-route-id="@item.HerbId">Edit</a> |
                            <a asp-action="DetailsHerb" asp-route-id="@item.HerbId">Details(no)</a> |
                            <a asp-action="DeleteHerb" asp-route-id="@item.HerbId">Delete</a>
                        </td>
                    </tr>
                }

            }

            else
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Species)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-action="EditHerb" asp-route-id="@item.HerbId">Edit</a> |
                        <a asp-action="DetailsHerb" asp-route-id="@item.HerbId">Details(no)</a> |
                        <a asp-action="DeleteHerb" asp-route-id="@item.HerbId">Delete</a>
                    </td>
                </tr>
            }
        }


    </tbody>
</table>

