@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model MakeBigOrderViewModel
@{
    ViewData["Title"] = "MakeBigOrder";
}
<br />
<div class="cont">
<form asp-action="SubmitOrder">
    <div class="form-horizontal">
        <h2>Supplier : @Model.SupplierName</h2><br />
        <input type="hidden" name="supplier" value="@Model.SupplierName" />

        @foreach (var drug in Model.DrugStatisticses)
        {
            <div class="form-horizontal">
                <label class="col-md-2 control-label">Drug</label>
                <input value="@drug.DrugName" name="drug" class="form-control" style="width: 200px; margin-left: 75px;"  />
            </div>
            <br />
            <div class="form-group">
                <label class="col-md-2 control-label">Quanyity</label>
                <div class="col-md-10">
                    <input value="@drug.Recomended" type="number" name="quantity" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Price $</label>
                <div class="col-md-10">
                    <input value="@drug.DrugPrice" type="number" name="price" class="form-control" readonly />
                </div>
            </div>
        }
        <div style="margin-left: 50px;">
            <input type="submit" class="btn btn-success" value="Submit" style="width: 100%;" />
        </div>
    </div>
</form>
<br />
<div style="margin-left: 170px;">
    <a asp-action="Calculation">Back </a>
</div>
</div>
<style>
    input, select {
        margin-left: 30px;
    }

    h1, p, h2, h3, h4, label {
        color: white;
    }

    .cont {
        margin-left: 450px;
    }
</style>