@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model HerbalDrugstore.Models.RepoSupplyAndLots
@{
    ViewData["Title"] = "ReportSuppliesForPastWeek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h1>Supplies for the past month</h1>

<div>
    <hr />
    @if (Model.Supply.Count != 0)
    {
        <button OnClick="javascript:window.print();" class="btn btn-default" style="margin-bottom: 20px;">Print</button>
        <br />
        for (var j = 0; j < Model.Supply.Count; j++)
        {
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>Supply:</h4>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>
                            Number of supply
                        </dt>
                        <dd>
                            @Model.Supply[j].SupplyId
                        </dd>
                        <dt>
                            Supplier
                        </dt>
                        <dd>
                            @Model.Supply[j].Supplier.CompanyName
                        </dd>
                        <dt>
                            Total price
                        </dt>
                        <dd>
                            @Model.Supply[j].Price
                        </dd>
                        <dt>
                            Date
                        </dt>
                        <dd>
                            @Model.Supply[j].DateOfSupply
                        </dd>
                    </dl>
                </div>
                <div class="panel-heading">
                    <h4>Lots: </h4>
                </div>
                <div class="panel-body">
                    @for (var i = 0; i < Model.Lots.Count; i++)
                    {
                        if (Model.Lots[i].SupplyId == Model.Supply[j].SupplyId)
                        {
                            <dl class="dl-horizontal">
                                <p># @(i + 1)</p>
                                <dt>Drug</dt>
                                <dd>@Model.Lots[i].Grug.Name</dd>
                                <dt>Drug quantity</dt>
                                <dd>@Model.Lots[i].Quantity</dd>
                                <dt>Lot price</dt>
                                <dd>@Model.Lots[i].Price</dd>
                            </dl>
                        }
                    }
                </div>
            </div>
        }
    }

    else
    {
        <h4>No supplies in database for the past week</h4>
    }


</div>
<style>
    h1 {
        color: white;
    }
</style>